<h2 mat-dialog-title>Game Configuration</h2>
<div mat-dialog-content>
  <p>Choose the grid size:</p>
  <mat-form-field>
    <mat-label>Grid Size</mat-label>
    <mat-select [(value)]="configParams.gridSize">
      @for (s of GridSize | keyvalue; track $index) {
      <mat-option [value]="s.value">{{s.value}}x{{s.value}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <p>Choose your symbol:</p>
  <mat-form-field>
    <mat-label>Player Symbol</mat-label>
    <mat-select [(value)]="configParams.playerSymbol">
      @for (p of PlayerSymbol | keyvalue; track $index) {
      <mat-option [value]="p.value">{{p.value}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="startGame()">Start Game</button>
</div>